@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  background-color: antiquewhite;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  gap: 20px 10px;
  align-items: center;
}
.card {
  background-color: #999;
  width: 20rem;
  height: 365px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 10px;
}

.r {
  background-color: #ee3333;
  color: #fff;
}

.g {
  background-color: #00cc00;
  color: #fff;
}

.nk {
  background-color: #292929;
  color: #fff;
}

.redgreen {
  background-image: linear-gradient(135deg, #ee3333 50%, #00cc00 50%);
}
.greenred {
  background-image: linear-gradient(135deg, #00cc00 50%, #ee3333 50%);
}
.greygreen {
  background-image: linear-gradient(135deg, #999 50%, #00cc00 50%);
}

#calendar {
  text-align: center;
}

#calendar table {

  border-spacing: 0;
  border-radius: 0 0 5px 5px;
  width: 100%;
}

#calendar td {
  margin-top: 4px;
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 0px;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

#calendar .past {
  color: #999;
}

#colHeader td {
  background: #292929;
}

#calHeader {
  padding: 10px;
  background: #333;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

#tabName {
  color: #fff;
  padding-bottom: 0px;
}


.half-circle-left-green {
  width: 100%;
  height: 100%;
  background-color: #00cc00;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border: 10px solid #00cc00;
  border-left: 0;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.half-circle-right-green {
  width: 100%;
  height: 100%;
  background-color: #00cc00;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 10px solid #00cc00;
  border-right: 0;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.half-circle-left-red {
  width: 100%;
  height: 100%;
  background-color: #ee3333;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border: 10px solid #ee3333;
  border-left: 0;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.half-circle-right-red {
  width: 100%;
  height: 100%;
  background-color: #ee3333;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 10px solid #ee3333;
  border-right: 0;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.half-circle-left-nk {
  width: 100%;
  height: 100%;
  background-color: #292929;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border: 10px solid #292929;
  border-left: 0;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.half-circle-right-nk {
  width: 100%;
  height: 100%;
  background-color: #292929;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 10px solid #292929;
  border-right: 0;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.half-circle-grey {
  width: 100%;
  height: 100%;
  background-color: #999;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 10px solid #999;
  border-right: 0;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.jel {
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}
.circle-green {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: #00cc00;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 10px solid #00cc00;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.circle-red {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: #ee3333;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 10px solid #ee3333;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.circle-nk {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: #292929;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 10px solid #292929;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}





@media only screen and (max-width: 600px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    width: 320px;
  }
}


